<!DOCTYPE html>
<html>
  <head>
    <title>OpenAI Quickstart</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/dog.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}" />
  </head>
  <body>
    <img src="{{ url_for('static', path='/filter.png') }}" class="icon" style="width: 100px; height: 100px;" />
    <h3>Filter my question</h3>
    <form action="/" method="post">
      <input type="text" name="user" placeholder="Enter your question" autocomplete="off" required />
      <input type="submit" value="Generate answers" />
    </form>
    {% if result %}
    <div class="result">{{ result }}</div>
    {% endif %}
  </body>
</html>